-- 1. ?꾩닔 ?뺤옣 湲곕뒫 ?쒖꽦??CREATE EXTENSION IF NOT EXISTS "uuid-ossp";

CREATE EXTENSION IF NOT EXISTS "pgcrypto";

CREATE EXTENSION IF NOT EXISTS timescaledb CASCADE;

CREATE EXTENSION IF NOT EXISTS vector;

-- 2. ENUM ????뺤쓽
DO $$ BEGIN IF NOT EXISTS (SELECT 1 FROM pg_type WHERE typname = 'user_level') THEN CREATE TYPE user_level AS ENUM ('FREE', 'PREMIUM', 'ADMIN');

END IF;

END $$;

DO $$ BEGIN IF NOT EXISTS (SELECT 1 FROM pg_type WHERE typname = 'fuel_type') THEN CREATE TYPE fuel_type AS ENUM ('GASOLINE', 'DIESEL', 'EV', 'HEV', 'LPG'); END IF; END $$;

DO $$ BEGIN IF NOT EXISTS (SELECT 1 FROM pg_type WHERE typname = 'registration_source') THEN CREATE TYPE registration_source AS ENUM ('MANUAL', 'OBD', 'CLOUD'); END IF; END $$;

DO $$ BEGIN IF NOT EXISTS (SELECT 1 FROM pg_type WHERE typname = 'charging_status') THEN CREATE TYPE charging_status AS ENUM ('DISCONNECTED', 'CHARGING', 'FULL', 'ERROR'); END IF; END $$;

DO $$ BEGIN IF NOT EXISTS (SELECT 1 FROM pg_type WHERE typname = 'diag_trigger_type') THEN CREATE TYPE diag_trigger_type AS ENUM ('AUTO', 'DATA', 'VISUAL', 'AUDIO','DTC','ROUTINE'); END IF; END $$;

DO $$ BEGIN IF NOT EXISTS (SELECT 1 FROM pg_type WHERE typname = 'diag_status') THEN CREATE TYPE diag_status AS ENUM ('PENDING', 'PROCESSING', 'REPLY_PROCESSING', 'DONE', 'FAILED'); END IF; END $$;

DO $$ BEGIN IF NOT EXISTS (SELECT 1 FROM pg_type WHERE typname = 'risk_level') THEN CREATE TYPE risk_level AS ENUM ('LOW', 'MID', 'HIGH', 'CRITICAL'); END IF; END $$;

DO $$ BEGIN IF NOT EXISTS (SELECT 1 FROM pg_type WHERE typname = 'media_type') THEN CREATE TYPE media_type AS ENUM ('AUDIO', 'IMAGE', 'SNAPSHOT'); END IF; END $$;

DO $$ BEGIN IF NOT EXISTS (SELECT 1 FROM pg_type WHERE typname = 'evidence_status') THEN CREATE TYPE evidence_status AS ENUM ('REQUESTED', 'UPLOADED', 'FAILED'); END IF; END $$;

DO $$ BEGIN IF NOT EXISTS (SELECT 1 FROM pg_type WHERE typname = 'dtc_type') THEN CREATE TYPE dtc_type AS ENUM ('STORED', 'PENDING', 'PERMANENT', 'FREEZE_FRAME'); END IF; END $$;

DO $$ BEGIN IF NOT EXISTS (SELECT 1 FROM pg_type WHERE typname = 'dtc_status') THEN CREATE TYPE dtc_status AS ENUM ('ACTIVE', 'RESOLVED', 'CLEARED', 'PENDING', 'STORED'); END IF; END $$;

DO $$ BEGIN IF NOT EXISTS (SELECT 1 FROM pg_type WHERE typname = 'dtc_resolution_type') THEN CREATE TYPE dtc_resolution_type AS ENUM ('AUTO', 'MANUAL', 'OBD_CLEAR'); END IF; END $$;

DO $$ BEGIN IF NOT EXISTS (SELECT 1 FROM pg_type WHERE typname = 'noti_type') THEN CREATE TYPE noti_type AS ENUM ('ALARM', 'RECALL', 'INFO', 'REPORT'); END IF; END $$;

DO $$ BEGIN IF NOT EXISTS (SELECT 1 FROM pg_type WHERE typname = 'insight_category') THEN CREATE TYPE insight_category AS ENUM ('ECO_DRIVING', 'SAFETY', 'MAINTENANCE'); END IF; END $$;

DO $$ BEGIN IF NOT EXISTS (SELECT 1 FROM pg_type WHERE typname = 'recall_status') THEN CREATE TYPE recall_status AS ENUM ('OPEN', 'CLOSED'); END IF; END $$;

DO $$ BEGIN IF NOT EXISTS (SELECT 1 FROM pg_type WHERE typname = 'inspection_type') THEN CREATE TYPE inspection_type AS ENUM ('REGULAR', 'TOTAL'); END IF; END $$;

-- 3. ?뚯씠釉??앹꽦 (Core)

-- ?ъ슜??(2.1.1)
CREATE TABLE IF NOT EXISTS users (
    user_id UUID PRIMARY KEY DEFAULT uuid_generate_v4 (),
    email VARCHAR(255) UNIQUE NOT NULL,
    password_hash VARCHAR(255),
    nickname VARCHAR(50),
    fcm_token VARCHAR(255),
    user_level user_level DEFAULT 'FREE',
    membership_expiry TIMESTAMP,
    last_login_at TIMESTAMP,
    created_at TIMESTAMP DEFAULT NOW(),
    deleted_at TIMESTAMP
);

-- ?ъ슜???ㅼ젙 (2.1.2)
CREATE TABLE IF NOT EXISTS user_settings (
    user_id UUID PRIMARY KEY REFERENCES users (user_id),
    noti_maintenance BOOLEAN DEFAULT TRUE,
    noti_anomaly BOOLEAN DEFAULT TRUE, -- AI 吏꾨떒 由ы룷???뚮┝ (Post-Trip report) ?섏떊 ?щ?
    noti_recall BOOLEAN DEFAULT TRUE,
    noti_marketing BOOLEAN DEFAULT FALSE,
    night_push_allowed BOOLEAN DEFAULT FALSE
);

-- ?대씪?곕뱶 怨꾩젙 (2.1.3)
CREATE TABLE IF NOT EXISTS cloud_accounts (
    account_id UUID PRIMARY KEY DEFAULT uuid_generate_v4 (),
    user_id UUID REFERENCES users (user_id),
    provider VARCHAR(50),
    provider_user_id VARCHAR(255),
    access_token TEXT,
    refresh_token TEXT,
    expires_at TIMESTAMP,
    last_synced_at TIMESTAMP
);

-- 李⑤웾 (2.1.4)
-- 湲곗〈 DB??obd_device_id 而щ읆???덉쑝硫? ALTER TABLE vehicles DROP COLUMN IF EXISTS obd_device_id;
CREATE TABLE IF NOT EXISTS vehicles (
    vehicles_id UUID PRIMARY KEY DEFAULT uuid_generate_v4 (),
    user_id UUID REFERENCES users (user_id),
    vin VARCHAR(255) UNIQUE,
    car_number VARCHAR(20),
    manufacturer_ko VARCHAR(50),
    manufacturer_en VARCHAR(50),
    model_name_ko VARCHAR(100),
    model_name_en VARCHAR(100),
    model_year INT,
    fuel_type fuel_type,
    total_mileage FLOAT DEFAULT 0,
    is_primary BOOLEAN DEFAULT FALSE,
    registration_source registration_source,
    cloud_linked BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP DEFAULT NOW(),
    deleted_at TIMESTAMP
);

-- 李⑤웾 紐⑤뜽 留덉뒪??(2.1.5 - Track B Reference)
CREATE TABLE IF NOT EXISTS car_model_master (
    model_id SERIAL PRIMARY KEY,
    manufacturer_ko VARCHAR(50),
    manufacturer_en VARCHAR(50),
    model_name_ko VARCHAR(100),
    model_name_en VARCHAR(100),
    model_year INT,
    fuel_type VARCHAR(20),
    displacement INT,
    spec_json JSONB
);

-- 4. ?붾젅硫뷀듃由?(Telemetry)

-- OBD ?μ튂 紐⑸줉 (2.2.0) - ?ъ슜???뚯쑀 OBD ?대뙌??CREATE TABLE IF NOT EXISTS obd_devices (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4 (),
    user_id UUID NOT NULL REFERENCES users (user_id),
    device_id VARCHAR(255) NOT NULL,
    device_type VARCHAR(20) NOT NULL,
    name VARCHAR(100),
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP,
    UNIQUE (user_id, device_id)
);

-- OBD ?μ튂-李⑤웾 ?곌껐 ?덉뒪?좊━ (CALID/CVN, 留덉?留??곌껐)
CREATE TABLE IF NOT EXISTS obd_device_vehicle_history (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4 (),
    obd_device_id UUID NOT NULL REFERENCES obd_devices (id),
    vehicles_id UUID NOT NULL REFERENCES vehicles (vehicles_id),
    calid VARCHAR(255),
    cvn VARCHAR(255),
    last_connected_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP
);

CREATE INDEX IF NOT EXISTS idx_obd_history_device_last ON obd_device_vehicle_history (obd_device_id, last_connected_at DESC);
CREATE INDEX IF NOT EXISTS idx_obd_history_device_calid_cvn ON obd_device_vehicle_history (obd_device_id, calid, cvn);

-- OBD ?ㅼ떆媛?濡쒓렇 (2.2.1) - TimescaleDB
CREATE TABLE IF NOT EXISTS obd_logs (
    time TIMESTAMPTZ NOT NULL,
    vehicles_id UUID NOT NULL REFERENCES vehicles (vehicles_id),
    rpm FLOAT,
    speed FLOAT,
    voltage FLOAT,
    coolant_temp FLOAT,
    engine_load FLOAT,
    fuel_trim_short FLOAT,
    fuel_trim_long FLOAT,
    intake_temp FLOAT,
    map FLOAT,
    maf FLOAT,
    throttle_pos FLOAT,
    engine_runtime INT,
    json_extra JSONB
);
-- ?쒓퀎???뚯씠釉붾줈 蹂??SELECT create_hypertable (
        'obd_logs', 'time', if_not_exists => TRUE
    );
-- 由ы뀗???뺤콉 (7??
SELECT add_retention_policy (
        'obd_logs', INTERVAL '3 days', if_not_exists => TRUE
    );

-- ?대씪?곕뱶 ?숆린???곗씠??(2.2.2)
CREATE TABLE IF NOT EXISTS cloud_telemetry (
    telemetry_id UUID PRIMARY KEY DEFAULT uuid_generate_v4 (),
    last_synced_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    vehicles_id UUID NOT NULL REFERENCES vehicles (vehicles_id),

-- 吏꾨떒 (Diagnostics)
odometer FLOAT, -- 二쇳뻾嫄곕━ (km)
fuel_level FLOAT, -- ?곕즺 ?붾웾 (%)
battery_soc FLOAT, -- 諛고꽣由??붾웾 (%)
battery_capacity FLOAT, -- EV 諛고꽣由??꾩껜 ?⑸웾 (kWh)
charge_limit FLOAT, -- EV 異⑹쟾 ?쒗븳 (%)
engine_oil_life FLOAT, -- ?붿쭊?ㅼ씪 ?섎챸 (%)
tire_pressure_fl FLOAT, -- ??댁뼱 怨듦린??(?욎쇊履?
tire_pressure_fr FLOAT, -- ??댁뼱 怨듦린??(?욎삤瑜몄そ)
tire_pressure_rl FLOAT, -- ??댁뼱 怨듦린??(?ㅼ쇊履?
tire_pressure_rr FLOAT, -- ??댁뼱 怨듦린??(?ㅼ삤瑜몄そ)

-- ?꾩튂 諛??섍꼍 (Location & Climate)
latitude FLOAT, -- ?꾨룄
longitude FLOAT, -- 寃쎈룄
inside_temp FLOAT, -- ?ㅻ궡 ?⑤룄
outside_temp FLOAT, -- ?ㅼ쇅 ?⑤룄

-- ?곹깭 (Status)
door_lock_status VARCHAR(20),    -- 臾??좉툑 ?곹깭 (LOCKED/UNLOCKED)
    window_open_status VARCHAR(20),  -- 李쎈Ц ?대┝ ?곹깭 (CLOSED/OPEN/PARTIAL)
    charging_status charging_status
);

-- 二쇳뻾 ?붿빟 (2.2.3)
CREATE TABLE IF NOT EXISTS trip_summaries (
    start_time TIMESTAMP NOT NULL,
    vehicles_id UUID NOT NULL REFERENCES vehicles (vehicles_id),
    trip_id UUID NOT NULL UNIQUE DEFAULT uuid_generate_v4 (),
    end_time TIMESTAMP,
    distance FLOAT,
    drive_score INT,
    average_speed FLOAT,
    top_speed FLOAT,
    fuel_consumed FLOAT,
    min_battery_voltage FLOAT,
    max_coolant_temp FLOAT,
    avg_fuel_trim FLOAT,
    max_engine_load FLOAT,
    idle_time INT,
    hard_accel_count INT,
    hard_brake_count INT,
    avg_rpm FLOAT,
    avg_engine_load FLOAT,
    avg_maf FLOAT,
    avg_throttle_pos FLOAT,
    overheat_duration_sec INT,
    json_extra JSONB, -- 異붽??곸씤 二쇳뻾 ?곗씠??(寃쎈줈 ??
    PRIMARY KEY (start_time, vehicles_id)
);

-- 5. AI 吏꾨떒 諛?利앷굅 (Diagnosis & AI)

-- 吏꾨떒 ?몄뀡 (2.3.1)
CREATE TABLE IF NOT EXISTS diag_sessions (
    diag_session_id UUID PRIMARY KEY DEFAULT uuid_generate_v4 (),
    vehicles_id UUID REFERENCES vehicles (vehicles_id),
    trip_id UUID, -- trip_summaries.trip_id
    trigger_type diag_trigger_type,
    status diag_status,
    progress_message VARCHAR(1000),
    dtc_context_json TEXT, -- DTC 紐⑤뱶 吏꾨떒 ???ъ슜??DTC ?뺣낫 ???(JSON)
    created_at TIMESTAMP DEFAULT NOW()
);

-- AI 吏꾨떒 寃곌낵 (2.3.2)
CREATE TABLE IF NOT EXISTS diag_results (
    diag_result_id UUID PRIMARY KEY DEFAULT uuid_generate_v4 (),
    diag_session_id UUID REFERENCES diag_sessions (diag_session_id),
    final_report TEXT,
    confidence_level VARCHAR(20), -- HIGH | MEDIUM | LOW
    summary TEXT,
    detected_issues JSONB,
    actions_json JSONB,
    requested_actions JSONB,
    risk_level risk_level
);

-- AI 吏꾨떒 利앷굅 諛?誘몄뀡 (2.3.3)
CREATE TABLE IF NOT EXISTS ai_evidences (
    evidence_id UUID PRIMARY KEY DEFAULT uuid_generate_v4 (),
    diag_session_id UUID REFERENCES diag_sessions (diag_session_id),
    evidence_type VARCHAR(20), -- IMAGE, AUDIO, DATA
    file_path TEXT NOT NULL,
    inference_label TEXT,
    confidence FLOAT,
    created_at TIMESTAMP DEFAULT NOW()
);

-- 6. ?곹깭 愿由?諛??덉뒪?좊━ (Status & History)

-- DTC 怨좎옣 肄붾뱶 留덉뒪??(2.4.0)
CREATE TABLE IF NOT EXISTS dtc_codes (
    code VARCHAR(10),
    manufacturer VARCHAR(50) DEFAULT 'GENERIC',
    description_ko TEXT,
    description_en TEXT,
    summary_ko TEXT,
    summary_en TEXT,
    tts_phrase TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (code, manufacturer)
);

-- DTC 怨좎옣 肄붾뱶 ?대젰 (2.4.1)
CREATE TABLE IF NOT EXISTS dtc_history (
    dtc_id UUID PRIMARY KEY DEFAULT uuid_generate_v4 (),
    vehicles_id UUID REFERENCES vehicles (vehicles_id),
    dtc_code VARCHAR(10),
    dtc_manufacturer VARCHAR(50) DEFAULT 'GENERIC',
    description TEXT,
    dtc_type dtc_type,
    status dtc_status,
    resolution_type dtc_resolution_type,
    discovered_at TIMESTAMP,
    resolved_at TIMESTAMP,
    FOREIGN KEY (dtc_code, dtc_manufacturer) REFERENCES dtc_codes (code, manufacturer)
);

-- DTC 怨좎옣 ?쒖젏 ?ㅻ깄??(2.4.2)
CREATE TABLE IF NOT EXISTS dtc_freeze_frames (
    frame_id UUID PRIMARY KEY DEFAULT uuid_generate_v4 (),
    dtc_id UUID UNIQUE REFERENCES dtc_history (dtc_id),
    rpm FLOAT,
    speed FLOAT,
    voltage FLOAT,
    coolant_temp FLOAT,
    engine_load FLOAT,
    fuel_trim_short FLOAT,
    fuel_trim_long FLOAT,
    intake_temp FLOAT,
    map FLOAT,
    maf FLOAT,
    throttle_pos FLOAT,
    engine_runtime INT,
    ambient_temp FLOAT,
    fuel_pressure FLOAT,
    pids_snapshot JSONB
);

-- 2.4.3 ?뚮え????ぉ 留덉뒪??(consumable_items) - Reference
CREATE TABLE IF NOT EXISTS consumable_items (
    id SERIAL PRIMARY KEY,
    code VARCHAR(50) UNIQUE NOT NULL, -- ENGINE_OIL, TIRES...
    name VARCHAR(100) NOT NULL,
    default_interval_mileage INT NOT NULL,
    default_interval_months INT,
    description TEXT
);

-- 2.4.4 李⑤웾蹂??뚮え???곹깭 (vehicle_consumables)
CREATE TABLE IF NOT EXISTS vehicle_consumables (
    vehicle_consumable_id UUID PRIMARY KEY DEFAULT uuid_generate_v4 (),
    vehicles_id UUID REFERENCES vehicles (vehicles_id),
    consumable_item_id INT REFERENCES consumable_items (id),
    wear_factor FLOAT DEFAULT 1.0, -- AI 怨꾩궛 留덈え??(1.0 = ?쒖?)
    last_replaced_at TIMESTAMP,
    last_replaced_mileage FLOAT, -- 援먯껜 ?쒖젏??二쇳뻾嫄곕━
    is_inferred BOOLEAN DEFAULT FALSE NOT NULL, -- ?쒖뒪??異붾줎 ?곗씠???щ?
    remaining_life FLOAT, -- (罹먯떛?? ?붿〈 ?섎챸 %
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP,
    UNIQUE (
        vehicles_id,
        consumable_item_id
    )
);

-- ?뺣퉬 李④퀎遺 (2.4.4) - MaintenanceHistory ?뷀떚?곗? ?숈씪
CREATE TABLE IF NOT EXISTS maintenance_logs (
    maintenance_id UUID PRIMARY KEY DEFAULT uuid_generate_v4 (),
    vehicle_id UUID NOT NULL REFERENCES vehicles (vehicles_id),
    maintenance_date DATE NOT NULL,
    mileage_at_maintenance DOUBLE PRECISION NOT NULL,
    consumable_item_id INT REFERENCES consumable_items (id),
    is_standardized BOOLEAN,
    shop_name VARCHAR(100),
    cost INT,
    quantity INT DEFAULT 1,
    ocr_data JSONB,
    receipt_id UUID,
    memo TEXT,
    created_at TIMESTAMP NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMP NOT NULL DEFAULT NOW()
);

-- 二쇱쑀 李④퀎遺 (2.4.5) - FuelingHistory ?뷀떚?곗? ?숆린??(諛깆뿏?쒓? ???ㅽ궎留덈? ?⑥씪 ?뚯뒪濡?愿由?
CREATE TABLE IF NOT EXISTS fueling_logs (
    fueling_id UUID PRIMARY KEY DEFAULT uuid_generate_v4 (),
    vehicle_id UUID NOT NULL REFERENCES vehicles (vehicles_id),
    fuel_type fuel_type NOT NULL,
    fueling_date DATE NOT NULL,
    amount DOUBLE PRECISION,
    unit_price INT,
    total_cost INT NOT NULL,
    mileage_at_fueling DOUBLE PRECISION,
    shop_name VARCHAR(100),
    station_name VARCHAR(100),
    memo TEXT,
    receipt_id UUID,
    created_at TIMESTAMP NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMP NOT NULL DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_fueling_logs_vehicle_date ON fueling_logs (vehicle_id, fueling_date DESC);

-- 7. ?뚮┝ 諛?吏??踰좎씠??(Notification & Knowledge)

-- ?ъ슜???뚮┝ (2.5.1)
CREATE TABLE IF NOT EXISTS user_notifications (
    notification_id UUID PRIMARY KEY DEFAULT uuid_generate_v4 (),
    user_id UUID REFERENCES users (user_id),
    type noti_type,
    title VARCHAR(255),
    message TEXT,
    is_read BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP DEFAULT NOW()
);

-- ?????뚮┝ ?뷀떚??留ㅽ븨??(JPA: kr.co.himedia.entity.Notification)
CREATE TABLE IF NOT EXISTS notification (
    id SERIAL PRIMARY KEY,
    user_id UUID NOT NULL REFERENCES users (user_id),
    title VARCHAR(255) NOT NULL,
    body TEXT NOT NULL,
    type VARCHAR(50) NOT NULL,
    is_read BOOLEAN NOT NULL DEFAULT FALSE,
    created_at TIMESTAMP NOT NULL DEFAULT NOW(),
    CONSTRAINT notification_type_check CHECK (type IN (
        'MAINTENANCE_ALERT',
        'COMMUNITY_ALERT',
        'SYSTEM_ALERT',
        'DTC_ALERT',
        'DIAG_ALERT',
        'TRIP_START',
        'TRIP_END'
    ))
);

-- 吏??踰좎씠??踰≫꽣 (2.5.2) - RAG??留ㅻ돱??泥?겕 (charm.li)
CREATE TABLE IF NOT EXISTS knowledge_vectors (
    knowledge_id UUID PRIMARY KEY DEFAULT uuid_generate_v4 (),
    content TEXT,
    metadata JSONB, -- { manufacturer, year, model, page_number, chunk_index, total_chunks_in_page, source_file, source_zip, chunk_method }
    embedding VECTOR (768), -- nomic-embed-text (768李⑥썝) ???    content_hash VARCHAR(64) UNIQUE, -- 以묐났 諛⑹????댁떆
    created_at TIMESTAMP DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_knowledge_metadata ON knowledge_vectors USING GIN (metadata);
CREATE INDEX IF NOT EXISTS idx_knowledge_embedding ON knowledge_vectors USING hnsw (embedding vector_cosine_ops);

-- 8. ?몃? API ?곕룞 諛??곸꽭 ?뺣낫 (External)

-- 李⑤웾 ?곸꽭 ?쒖썝 (2.6.1)
CREATE TABLE IF NOT EXISTS vehicle_specs (
    spec_id UUID PRIMARY KEY DEFAULT uuid_generate_v4 (),
    vehicles_id UUID REFERENCES vehicles (vehicles_id),
    length FLOAT,
    width FLOAT,
    height FLOAT,
    displacement INT,
    engine_type VARCHAR(50),
    max_power FLOAT,
    max_torque FLOAT,
    tire_size_front VARCHAR(50),
    tire_size_rear VARCHAR(50),
    official_fuel_economy FLOAT,
    spec_source VARCHAR(20) DEFAULT 'MASTER', -- MASTER, CLOUD, MANUAL
    extra_specs JSONB DEFAULT '{}', -- 媛蹂?곸씤 釉뚮옖?쒕퀎 ?곸꽭 ?쒖썝
    last_updated TIMESTAMP DEFAULT NOW()
);

-- 由ъ퐳 ?곸꽭 ?뺣낫 (2.6.2)
CREATE TABLE IF NOT EXISTS vehicle_recalls (
    recall_id UUID PRIMARY KEY DEFAULT uuid_generate_v4 (),
    vehicles_id UUID REFERENCES vehicles (vehicles_id),
    recall_title VARCHAR(255),
    component VARCHAR(100),
    recall_reason TEXT,
    status recall_status,
    recall_date DATE,
    inspection_center VARCHAR(100)
);

-- ?뺢린 諛?醫낇빀寃???뺣낫 (2.6.3)
CREATE TABLE IF NOT EXISTS vehicle_inspections (
    inspection_id UUID PRIMARY KEY DEFAULT uuid_generate_v4 (),
    vehicles_id UUID REFERENCES vehicles (vehicles_id),
    inspection_type inspection_type,
    validity_start_date DATE,
    validity_end_date DATE,
    result VARCHAR(50),
    next_inspection_date DATE
);

-- 以묎퀬李??깅뒫?곹깭?먭? 湲곕줉 (2.6.4)
CREATE TABLE IF NOT EXISTS used_car_performance_records (
    record_id UUID PRIMARY KEY DEFAULT uuid_generate_v4 (),
    vehicles_id UUID REFERENCES vehicles (vehicles_id),
    inspection_date DATE,
    mileage_at_work FLOAT,
    accident_history BOOLEAN,
    flooding_history BOOLEAN,
    frame_damage JSONB,
    engine_transmission VARCHAR(50), -- ENUM ???紐낆꽭?쒖뿉 留욎떠 泥섎━(?묓샇/蹂댄넻/遺덈웾)
    oil_leak VARCHAR(50),
    inspection_sheet_url TEXT
);

-- 9. ?ㅼ떆媛??댁긽 媛먯? 諛??몄궗?댄듃 (Anomaly & Insight)

-- ?ㅼ떆媛??댁긽 媛먯? ?대젰 (2.7)
CREATE TABLE IF NOT EXISTS anomaly_records (
    anomaly_id UUID PRIMARY KEY DEFAULT uuid_generate_v4 (),
    vehicles_id UUID REFERENCES vehicles (vehicles_id),
    recorded_at TIMESTAMP,
    anomaly_type VARCHAR(50),
    severity risk_level,
    snapshot_data JSONB
);

-- 媛쒖씤???몄궗?댄듃 (2.8)
CREATE TABLE IF NOT EXISTS user_insights (
    insight_id UUID PRIMARY KEY DEFAULT uuid_generate_v4 (),
    user_id UUID REFERENCES users (user_id),
    trip_id UUID,
    category insight_category,
    title VARCHAR(255),
    content_markdown TEXT,
    created_at TIMESTAMP DEFAULT NOW(),
    is_read BOOLEAN DEFAULT FALSE
);
