
# 데이터 폴더 전체 제외 (ai/ 기준 상대경로)
data/ast/
data/yolo/
data/engine_bay/
data/s3_audio/
data/tire/


# 가상환경 및 캐시 파일 (권장)
__pycache__/
.venv/
venv/
.ipynb_checkpoints/

# Kaggle API 키 파일 (보안상 절대 올리면 안 됨)
.kaggle/
kaggle.json

*.safetensors
*.pt
*.pth

# 학습 결과 폴더 제외 (체크포인트, 로그 등)
runs/
weights/

