spring:
  application:
    name: backend
  jackson:
    time-zone: Asia/Seoul

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:car_sentry}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  batch:
    jdbc:
      initialize-schema: always # Batch 테이블 자동 생성
    job:
      enabled: false # 시작 시 모든 Job 실행 방지

  cloud:
    aws:
      region:
        static: ap-northeast-2
      credentials:
        access-key: ${AWS_ACCESS_KEY_ID:dummy}
        secret-key: ${AWS_SECRET_ACCESS_KEY:dummy}
      s3:
        enabled: true
      stack:
        auto: false

  rabbitmq:
    host: ${MQ_HOST:localhost}
    port: ${MQ_PORT:5672}
    username: ${MQ_USER:guest}
    password: ${MQ_PASSWORD:guest}



app:
  storage:
    type: ${STORAGE_TYPE:local} # local or s3

ai:
  server:
    url:
      visual: ${AI_SERVER_URL_VISUAL:http://localhost:8000/api/v1/predict/visual}
      audio: ${AI_SERVER_URL_AUDIO:http://localhost:8000/api/v1/predict/audio}

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.web: DEBUG # 404 디버깅용 로그 추가
